DATABASE_URL=postgres://user:password@server:port/database
BETTER_AUTH_SECRET=secret_better-auth
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=Client_ID_GITHUB
GITHUB_CLIENT_SECRET=Client_Secret_GITHUB

SMTP_HOST=smtp.mail.com
SMTP_PORT=Port_SMTP
SMTP_USER=User_mail@mail.com
SMTP_PASS=User_password
MAIL_FROM=Name_Mail <user.mail@mail.com>