DATABASE_URL=postgres://user:password@server:port/database
BETTER_AUTH_SECRET=secret_better-auth
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=Client_ID_GITHUB
GITHUB_CLIENT_SECRET=Client_Secret_GITHUB